<mat-card class="team" [style.background-color]="team.teamColor">
    <mat-card-title class="title" style="color: white;">
        <span>{{team.teamName}}</span>
        <span>
            <img class="icon" alt="Edit Team" src="./assets/edit.svg" [ngClass]="{'icon-active': isEditable}" (click)="toggleEditable()">
            <span *ngIf="isEditable" style="font-size: 12px;color: black;">Editting</span>
        </span>
    </mat-card-title>
    <mat-card-subtitle>{{team.firstName}} {{team.lastName}}</mat-card-subtitle>
    <mat-card-content *ngIf="displayTeam">
        <mat-card class="player" *ngFor="let player of team.players; let i = index;">
            <span><a *ngIf="isEditable" class="delete" (click)="removePlayer(i);">x</a> {{filterPosition(player)}}</span>
            <span>{{player.player_bio.first_name}} {{player.player_bio.last_name}}</span>
            <span [style.color]="setScoreColor(player.today)">{{filterScore(player.today)}}</span>
            <span>{{player.thru}}</span>
        </mat-card>
        <mat-card *ngIf="displayTeam">
            Team to Par: <span [style.color]="setScoreColor(filterTeamScore())">{{filterScore(filterTeamScore())}}</span> Total Strokes: {{getTeamStrokes()}}
        </mat-card>
        <form class="player-search-form" *ngIf="isAddNewPlayer">
            <a class="delete" (click)="toggleAddNewPlayer()">x</a>
            <mat-form-field class="form-element">
                <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="playerControl" [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let player of filteredPlayers | async" [value]="player">
                        {{ player }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <button class="form-element" mat-raised-button (click)="addNewPlayer()">Submit</button>
        </form>
        <div class="button-group" *ngIf="isEditable">
            <button mat-raised-button class="edit" (click)="toggleAddNewPlayer()" [disabled]="team.players.length == maxPlayers">Add Player</button>
            <button mat-raised-button class="edit" (click)="selectRandomPlayers()" *ngIf="team.players.length !== maxPlayers"><img class="dice-icon" alt="" src="./assets/dice.svg">Randomize</button>
        </div>
        <button mat-raised-button class="delete-team" (click)="order66()" *ngIf="isEditable">Delete Team</button>

    </mat-card-content>
</mat-card>