.team {
    width: 300px;
    float: left;
    margin: 1em;
}

.player {
    height: 1em;
    margin: 5px;
    padding: 10px;
}
.title {
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: 7fr 1fr;
}

.icon {
    height: 20px;
    width: 20px;
    opacity: 0.5;
}

.icon-active {
    background-color: white;
}

.icon:hover {
    background-color: white;
    cursor: pointer;
}

.delete {
    color: black;
    cursor: pointer;
}

.delete:hover {
    color: red;
    text-transform: uppercase;
    cursor: pointer;
}

.form-element {
    margin-left: 5px;
}

.button-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 3px;
}

.edit:hover {
    background-color: lightslategray;
    cursor: pointer;
}
.dice-icon {
    height: 12px;
    width: 12px;
    margin-right: 5px;
}

.delete-team {
    background-color: red;
    color: white;
    width: 100%;
    margin-top: 3px;
}

.delete-team:hover {
    background-color: darkred;
    cursor: pointer;
}

mat-autocomplete {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}