.team {
    width: 300px;
    float: left;
    margin: 1em;
}

.player {
    height: 1em;
    margin: 5px;
    padding: 10px;
    /* margin: 0; */
    /* padding: 5px; */
}

.form-element {
    margin-left: 5px;
}

mat-autocomplete {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}