.header {
    color: #ffee51;
    background-color: #076652;
}
.logo {
    margin-right: 10px;
    height: 35px;
    width: 35px;
}

router-outlet {
    min-height: calc(100vh - 70px);
}
.footer {
    font-size: 10px;
}