<div class="table mat-elevation-z8" *ngIf="tournamentData.leaderboard">
        <mat-card>
            <div>
                {{tournamentData.leaderboard.tournament_name}} 
            </div>
            <div>
                Round: {{tournamentData.leaderboard.current_round}} Status: 
                {{tournamentData.leaderboard.round_state}}
            </div>
        </mat-card>
    
        <button mat-raised-button (click)="getFullTournamentDataOnLoad()">Refresh</button>
        <mat-table class="table-data" #table [dataSource]="tableDataSource" matSort>
            <ng-container matColumnDef="current_position">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Position </mat-header-cell>
                <mat-cell *matCellDef="let player"> {{filterPosition(player)}} </mat-cell>
            </ng-container>
    
            <ng-container matColumnDef="player_bio">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Player </mat-header-cell>
                <mat-cell *matCellDef="let player"> {{player.player_bio.first_name}} {{player.player_bio.last_name}} </mat-cell>
            </ng-container>
    
            <ng-container matColumnDef="today">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Round Score </mat-header-cell>
                <mat-cell *matCellDef="let player" [style.color]="setScoreColor(player.today)"> {{filterScore(player.today)}} </mat-cell>
            </ng-container>
    
            <ng-container matColumnDef="total">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Overall Score </mat-header-cell>
                <mat-cell *matCellDef="let player" [style.color]="setScoreColor(player.total)"> {{filterScore(player.total)}} </mat-cell>
            </ng-container>
    
            <ng-container matColumnDef="thru">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Thru </mat-header-cell>
                <mat-cell *matCellDef="let player"> {{player.thru}} </mat-cell>
            </ng-container>
    
            <ng-container matColumnDef="teeTime">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Tee Time </mat-header-cell>
                <mat-cell *matCellDef="let player"> {{trimDate(player.rounds[player.current_round - 1].tee_time)}} </mat-cell>
            </ng-container>
    
            <ng-container matColumnDef="R1">
                <mat-header-cell *matHeaderCellDef mat-sort-header> R1 </mat-header-cell>
                <mat-cell *matCellDef="let player"> {{player.rounds[0].strokes}} </mat-cell>
            </ng-container>
    
            <ng-container matColumnDef="R2">
                <mat-header-cell *matHeaderCellDef mat-sort-header> R2 </mat-header-cell>
                <mat-cell *matCellDef="let player"> {{player.rounds[1].strokes}} </mat-cell>
            </ng-container>
    
            <ng-container matColumnDef="R3">
                <mat-header-cell *matHeaderCellDef mat-sort-header> R3 </mat-header-cell>
                <mat-cell *matCellDef="let player"> {{player.rounds[2].strokes}} </mat-cell>
            </ng-container>
    
            <ng-container matColumnDef="R4">
                <mat-header-cell *matHeaderCellDef mat-sort-header> R4 </mat-header-cell>
                <mat-cell *matCellDef="let player"> {{player.rounds[3].strokes}} </mat-cell>
            </ng-container>
    
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns; let player" 
            [ngClass]="{ 'is-cut': isCut(player) }"></mat-row>
        </mat-table>
    </div>