.container {
    width: 100%;
}

.table {
    overflow-x: scroll;
    /* background: linear-gradient(white, #076652); */
}

.table-data {
    height: 80vh;
    overflow: scroll;
    min-width: 500px;
    -webkit-overflow-scrolling: touch;
}

mat-card {
    margin: 10px;
    background: linear-gradient(to top left, #076652, #0dc29c);
    color: white;
}

button {
    margin-left: 10px;
    color: white;
    background-color: #0dc29c;
}

button:hover {
    background-color: #076652;
}

.is-cut {
    background-color: #dddddd;
}