.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1;
}

.table-data {
    height: 80vh;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

mat-card {
    margin: 10px;
    background: linear-gradient(to top left, #076652, #0dc29c);
    color: white;
}

button {
    margin-left: 10px;
    color: white;
    background-color: #0dc29c;
}

button:hover {
    background-color: #076652;
}
/* mat-table {
    background: linear-gradient(white, #076652);
} */